<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 
      v-if为false时，该元素不会存在于dom中
      改为true时再创建一个拿回来
    -->
    <h2 v-if="isShow" id="aaa"></h2>
    <!-- v-show为false时只是给元素加了一个 display：none -->
    <h2 v-if="isShow" id="bbb"></h2>
  </div>
  
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello',
        isShow: true
      },
      methods:{
       
      }
    })

  </script>
</body>
</html>